@import url("//fonts.googleapis.com/css?family=Lato");
@import url("//fonts.googleapis.com/earlyaccess/notosansjapanese.css");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.list-news li .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100% !important;
  height: 100% !important;
  font-size: 62.5%;
  word-wrap: break-word;
}

/* ボディー要素について */

body {
  font-family: "Lato", "Noto Sans Japanese", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
  color: #222;
  background: url(../pic/bg-body.png) top center repeat #ebeff1;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  width: 100%;
  min-width: 960px;
  overflow-y: scroll;
  overflow-x: auto;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    min-width: initial;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

svg {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
}

ol, ul {
  list-style: none;
}

pre {
  font-size: 14px;
  font-size: 1.4rem;
}

::-moz-selection {
  background-color: #FFF6F4;
  color: #fff;
}

::selection {
  background-color: #FFF6F4;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #140633;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #FFF6F4;
}




/* ---------------------------------------------------
header
----------------------------------------------------*/
header {
    width: 100%;
    height: 200px;
    /* background: url(../img/bg-header.png) top center repeat-x; */
    background-color: #EFE9D5;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: left;
    padding: 50px 20px;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  header:after {
    content: '';
    width: 100%;
    height: 32px;
    background: url(../img/bg-header-b.png) bottom center repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
  }

  @media (max-width: 768px) {
    header.active #gnav a {
      color: #FFF6F4;
    }
  }

  header .inner, header .table table, .table header table {
    position: relative;
  }

  @media (max-width: 768px) {
    header .inner, header .table table, .table header table {
      position: static;
    }
  }

  header h1 {
    color: #fff;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    padding: 16px 0;
  }

  header h1 a {
    display: block;
  }

  /* ロゴのが画像の場合 */
  /* header h1 img {
    height: 100px;
    margin: -10px 0 0;
  } */

  header h1 {
    height: 100px;
    margin: -10px 0 0;
  }

  @media (max-width: 768px) {
    header h1 {
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 56px;
      text-align: center;
    }
    header h1 img {
      height: 34px;
      margin: -10px 0 0;
    }
  }

  header #menu {
    display: none;
    width: 56px;
    height: 56px;
    min-width: initial;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
  }

  @media (max-width: 768px) {
    header #menu {
      display: block;
    }
  }

  header #menu div {
    width: 28px;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    /* Fix for IE7 */
    *display: inline;
    /* Fix for IE7 */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  header #menu div:nth-child(1) {
    top: 35%;
  }

  header #menu div:nth-child(3) {
    top: 65%;
  }

  header .tel {
    height: 70px;
    background: rgba(232, 60, 180, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 10;
  }

  header .tel:after {
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
    content: '';
    border: 2px dashed #fff;
    border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
  }

  @media (max-width: 768px) {
    header .tel {
      text-align: center;
      right: 0;
      left: 0;
      top: 70vh;
      width: 80%;
      height: 90px;
      margin: 0 auto;
    }
    header .tel ul {
      margin-top: 7px;
      position: relative;
      z-index: 1;
    }
  }

  header .tel div {
    line-height: 1;
  }

  header .tel .number {
    font-size: 18px;
    font-size: 1.8rem;
    display: inline-block;
    margin: 0 0 0 10px;
  }

  @media (max-width: 768px) {
    header .tel .number {
      font-size: 21px;
      font-size: 2.1rem;
    }
  }

  @media (max-width: 768px) {
    header .tel .open {
      font-size: 14px;
      font-size: 1.4rem;
    }
  }

  header .tel .icon {
    width: 26px;
    display: inline-block;
  }

  header .bn {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }

  header .bn .btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }

  header .bn .btn:after {
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
    content: '';
    border: 2px dashed #fff;
    border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
  }

  header .bn .ameba {
    height: 60px;
    background: #2d8c3c;
    background-size: 30px;
    background-position: 16px center;
    background-repeat: no-repeat;
    color: #fff;
  }

  header .bn .ameba span {
    display: block;
    margin-left: 30px;
    margin-top: 8px;
  }

  header .bn2 {
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 10;
  }

  header .bn2 .btn {
    position: relative;
    display: inline-block;
    padding: 20px 10px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }

  header .bn2 .btn:after {
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
    content: '';
    border: 2px dashed #fff;
    border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
  }

  header .bn2 .ameba {
    height: 60px;
    background: #2d8c3c;
    background-size: 30px;
    background-position: 16px center;
    background-repeat: no-repeat;
    color: #fff;
  }

  header .bn2 .ameba span {
    display: block;
    margin-left: 30px;
    margin-top: 8px;
  }

  @media (max-width: 768px) {
    header {
      height: 56px;
      background: #FFF6F4;
      padding: 0 50px;
      position: fixed;
    }
    header:after {
      display: none;
    }
    header h1 {
      padding: 0;
    }
    header h1 img {
      height: 56px;
    }
    header .bn {
      width: 100%;
      text-align: center;
    }
    header .bn .ameba {
      width: 80%;
      margin: 50px auto;
    }
    header.active {
      height: 56px;
      display: block;
    }
    header.active h1 {
      display: block;
    }
    header.active .tel {
      display: none;
    }
    header.active .bn {
      display: none;
    }
  }

  @media (max-width: 768px) {
    body[data-status="menu"] header #menu div:nth-child(1) {
      top: 32%;
      left: 45%;
      -webkit-transform: rotate(-45deg) translate(-50%, -50%);
              transform: rotate(-45deg) translate(-50%, -50%);
    }
    body[data-status="menu"] header #menu div:nth-child(2) {
      opacity: 0;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    body[data-status="menu"] header #menu div:nth-child(3) {
      top: 68%;
      left: 43%;
      -webkit-transform: rotate(45deg) translate(-50%, -50%);
              transform: rotate(45deg) translate(-50%, -50%);
    }
    body[data-status="menu"] #gnav {
      pointer-events: initial;
      z-index: 1000;
    }
    body[data-status="menu"] #gnav ul {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    body[data-status="menu"] #gnav .enabled {
      pointer-events: initial;
      opacity: 1;
    }
  }



/* ---------------------------------------------------
nav
----------------------------------------------------*/

#gnav {
    text-align: center;
  }

  @media (max-width: 768px) {
    #gnav {
      pointer-events: none;
      text-align: right;
      position: fixed;
      top: 56px;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  #gnav ul {
    font-size: 0;
  }

  @media (max-width: 768px) {
    #gnav ul {
      background: #eee;
      width: 80%;
      height: 100%;
      padding: 0 0 60px;
      display: inline-block;
      vertical-align: middle;
      zoom: 1;
      /* Fix for IE7 */
      *display: inline;
      /* Fix for IE7 */
      text-align: left;
      position: relative;
      z-index: 1;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  #gnav li {
    font-size: 30px;
    font-size: 2.0rem;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    /* Fix for IE7 */
    *display: inline;
    /* Fix for IE7 */
    position: relative;
  }

  @media (max-width: 768px) {
    #gnav li {
      font-size: 30px;
      font-size: 2.0rem;
      display: block;
    }
  }

  #gnav a {
    color: #625548;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 25px 10px;
    display: block;
  }

  @media (max-width: 768px) {
    #gnav a {
      color: #ff8328;
      font-size: 20px;
      font-size: 1.8rem;
      padding: 10px;
      border-top: 1px solid #ddd;
    }
  }

  #gnav a:hover {
    text-decoration: underline;
  }

  #gnav a:hover + .lower {
    opacity: 1;
    pointer-events: initial;
  }

  #gnav i {
    vertical-align: middle;
  }

  #gnav .lower {
    background: #222;
    padding: 10px;
    border-radius: 10px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }

  @media (max-width: 768px) {
    #gnav .lower {
      opacity: 1;
      pointer-events: initial;
      position: static;
      background: none;
      padding: 0 0 0 20px;
    }
  }

  #gnav .lower:hover {
    opacity: 1;
    pointer-events: initial;
  }

  #gnav .lower a {
    white-space: nowrap;
    padding: 10px;
  }

  @media (max-width: 768px) {
    #gnav .lower a {
      color: #222;
    }
  }

  #gnav .enabled {
    pointer-events: none;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }



/* ---------------------------------------------------
visual
----------------------------------------------------*/
#visual {
    position: relative;
  }

  #visual .image {
    background: url(pic/IMG_3841.png) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 600px;
  }

  @media (max-width: 768px) {
    #visual .image {
      min-height: 100vh;
    }
  }

  /* これをすると、画像が点滅してしまう。 */
  /* #visual .image:before {
    content: '';
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(#a6d900), to(#ff4454));
    background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
    -webkit-animation: huerotator 3s infinite alternate;
            animation: huerotator 3s infinite alternate;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .2;
    z-index: 5;
  } */

  #visual .image .text {
    color: #fff;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
  }

  @media (max-width: 768px) {
    #visual .image .text {
      top: 50%;
    }
  }

  #visual .image .text .title {
    font-size: 60px;
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 5px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    /* Fix for IE7 */
    *display: inline;
    /* Fix for IE7 */
    border: solid #fff;
    border-width: 2px 0;
  }

  @media (max-width: 768px) {
    #visual .image .text .title {
      font-size: 18px;
      font-size: 1.8rem;
      padding: 10px 0;
      letter-spacing: 2px;
    }
  }

  #visual .image .text .description {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 20px 60px;
  }

  @media (max-width: 768px) {
    #visual .image .text .description {
      font-size: 10px;
      font-size: 1rem;
      padding: 20px;
      display: none;
    }
  }

  #visual .image .tel {
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    text-align: left;
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 10;
    padding: 30px;
    -webkit-transform: skew(-10deg);
            transform: skew(-10deg);
  }

  @media (max-width: 768px) {
    #visual .image .tel {
      text-align: center;
      padding: 20px;
      right: 10px;
      left: 10px;
    }
  }

  #visual .image .tel div {
    line-height: 1;
  }

  #visual .image .tel .number {
    font-size: 36px;
    font-size: 3.6rem;
    margin: 0 0 10px;
  }

  @media (max-width: 768px) {
    #visual .image .tel .number {
      font-size: 32px;
      font-size: 3.2rem;
    }
  }

  @media (max-width: 768px) {
    #visual .image .tel .open {
      font-size: 14px;
      font-size: 1.4rem;
    }
  }

  #visual .image .bx-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  #visual .image .bx-viewport {
    width: 100%;
    height: 100%;
  }

  #visual .image .bx-pager {
    padding: 20px 0;
  }

  #visual .image .bx-pager .bx-pager-item {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    /* Fix for IE7 */

/* 本来は下はコメントではない */
    *display: inline;


    /* Fix for IE7 */
    padding: 0 15px;
  }

  #visual .image .bx-pager .bx-pager-item a {
    background: #acce3e;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  #visual .image .bx-pager .bx-pager-item a.active {
    background: #1e5c32;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  } */

/* 画像をスライドさせる */
/*
  #visual .image .slider {
    width: 100%;
    height: 100%;
  }

  #visual .image .slider div {
    width: 100%;
    height: 100%;
    background: no-repeat bottom center;
    background-size: cover 100%;
    background-attachment: fixed;
  } */

  /* @media (max-width: 768px) {
    #visual .image .slider div {
      background-size: cover;
      background-attachment: initial;
    }
  } */

  @-webkit-keyframes huerotator {
    0% {
      -webkit-filter: hue-rotate(0deg);
              filter: hue-rotate(0deg);
    }
    100% {
      -webkit-filter: hue-rotate(360deg);
              filter: hue-rotate(360deg);
    }
  }

  @keyframes huerotator {
    0% {
      -webkit-filter: hue-rotate(0deg);
              filter: hue-rotate(0deg);
    }
    100% {
      -webkit-filter: hue-rotate(360deg);
              filter: hue-rotate(360deg);
    }
  }



/* ---------------------------------------------------
common
----------------------------------------------------*/
.inner, .table table {
  max-width: 1080px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .inner, .table table {
    max-width: 98%;
  }
}

.wrap {
  max-width: 90%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrap {
    max-width: 98%;
  }
}

.spbr {
  display: none;
}

@media (max-width: 768px) {
  .spbr {
    display: block;
  }
}


/* 画像のスプリットをするcss */
/* ---------------------------------------------------
extend
----------------------------------------------------*/
.split {
  font-size: 0;
}

.split > li,
.split > div {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
}

.split[data-length="1"] > li,
.split[data-length="1"] > div {
  width: 100%;
}

@media (max-width: 768px) {
  .split[data-length="1"] > li,
  .split[data-length="1"] > div {
    width: 100%;
  }
}

.split[data-length="2"] > li,
.split[data-length="2"] > div {
  width: 50%;
}

@media (max-width: 768px) {
  .split[data-length="2"] > li,
  .split[data-length="2"] > div {
    width: 100%;
  }
}

.split[data-length="3"] > li,
.split[data-length="3"] > div {
  width: 33.33333%;
}

@media (max-width: 768px) {
  .split[data-length="3"] > li,
  .split[data-length="3"] > div {
    width: 100%;
  }
}

.split[data-length="4"] > li,
.split[data-length="4"] > div {
  width: 25%;
}

@media (max-width: 768px) {
  .split[data-length="4"] > li,
  .split[data-length="4"] > div {
    width: 100%;
  }
}

.split[data-length="5"] > li,
.split[data-length="5"] > div {
  width: 20%;
}

@media (max-width: 768px) {
  .split[data-length="5"] > li,
  .split[data-length="5"] > div {
    width: 100%;
  }
}

.split[data-length="6"] > li,
.split[data-length="6"] > div {
  width: 16.66667%;
}

@media (max-width: 768px) {
  .split[data-length="6"] > li,
  .split[data-length="6"] > div {
    width: 100%;
  }
}

.split[data-length="7"] > li,
.split[data-length="7"] > div {
  width: 14.28571%;
}

@media (max-width: 768px) {
  .split[data-length="7"] > li,
  .split[data-length="7"] > div {
    width: 100%;
  }
}

.split[data-length="8"] > li,
.split[data-length="8"] > div {
  width: 12.5%;
}

@media (max-width: 768px) {
  .split[data-length="8"] > li,
  .split[data-length="8"] > div {
    width: 100%;
  }
}

.split[data-length="9"] > li,
.split[data-length="9"] > div {
  width: 11.11111%;
}

@media (max-width: 768px) {
  .split[data-length="9"] > li,
  .split[data-length="9"] > div {
    width: 100%;
  }
}

.split[data-length="10"] > li,
.split[data-length="10"] > div {
  width: 10%;
}

@media (max-width: 768px) {
  .split[data-length="10"] > li,
  .split[data-length="10"] > div {
    width: 100%;
  }
}

.background {
  background: center center no-repeat;
  background-size: cover;
  position: relative;
}

.background-fixed {
  background: center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

@media (max-width: 768px) {
  .background-fixed {
    background-attachment: initial;
  }
}

.background-blur:before {
  content: '';
  /* background: inherit; */
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.circle li {
  height: auto;
  position: relative;
}

.circle li:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circle .image {
  border-radius: 100% !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 80% !important;
  height: 80% !important;
  margin: auto !important;
}

.align-center {
  text-align: center;
  margin: 0 auto;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}


/* ---------------------------------------------------
list
----------------------------------------------------*/
.list-normal li {
  padding: 30px;
}

@media (max-width: 768px) {
  .list-normal li {
    padding: 20px 20px 0;
  }
}

.list-normal li .image {
  background: no-repeat center center #eee;
  background-size: cover;
  border-radius: 50%;
  margin: 0 0 10px;
}

.list-normal li .image:after {
  content: '';
  display: block;
  padding: 100% 0 0;
}

.list-normal li .title {
  font-size: 26px;
  font-size: 2.6rem;
}

.list-normal li .description {
  font-size: 14px;
  font-size: 1.4rem;
}

.list-button li {
  padding: 30px;
}

@media (max-width: 768px) {
  .list-button li {
    padding: 20px 20px 0;
  }
}

.list-button li a {
  display: block;
}

.list-button li .image {
  background: no-repeat center center #eee;
  background-size: cover;
  border-radius: 20px;
  margin: 0 0 10px;
  position: relative;
  overflow: hidden;
}

.list-button li .image:after {
  content: '';
  display: block;
  background: #fff;
  padding: 60% 0 0;
}

.list-button li .text {
  color: #fff;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.list-button li .title {
  font-size: 26px;
  font-size: 2.6rem;
}

.list-button li .description {
  font-size: 14px;
  font-size: 1.4rem;
}

.list-article {
  padding: 30px 0;
}

.list-article li {
  padding: 20px;
}

@media (max-width: 768px) {
  .list-article li {
    padding: 20px 20px 0;
  }
}

.list-article li a {
  display: block;
  overflow: hidden;
}

.list-article li .image {
  width: 200px;
  background: no-repeat center center #eee;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  float: left;
}

@media (max-width: 768px) {
  .list-article li .image {
    width: 100%;
    margin: 0 0 20px;
  }
}

.list-article li .image:after {
  content: '';
  display: block;
  background: #fff;
  padding: 60% 0 0;
}

.list-article li .text {
  overflow: hidden;
  padding: 0 0 0 20px;
}

.list-article li .title {
  font-size: 26px;
  font-size: 2.6rem;
}

.list-article li .description {
  font-size: 14px;
  font-size: 1.4rem;
}

.list-article li .link {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  margin: 10px 0;
  padding: 2px 20px;
  border: 2px solid #222;
  border-radius: 50px;
}

.list-article-vertical li {
  padding: 0 10px;
  position: relative;
}

.list-article-vertical li:hover .image img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media (max-width: 768px) {
  .list-article-vertical li {
    margin-bottom: 20px;
  }
}

.list-article-vertical .image {
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  position: relative;
}

.list-article-vertical .image:after {
  content: '';
  width: 100%;
  display: block;
  background: none;
  padding: 60% 0 0;
  position: absolute;
  top: 0;
}

.list-article-vertical .image img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.list-article-vertical .text {
  background: #fff;
  padding: 10px;
}

.list-article-vertical .title {
  font-size: 30px;
  font-size: 3rem;
}

.list-article-vertical .subtitle {
  font-size: 20px;
  font-size: 2rem;
}

.list-article-vertical .cat {
  font-size: 18px;
  font-size: 1.8rem;
  background: #fff;
  color: #fff;
  margin: 0 10px 0 0;
  padding: 1rem;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}

.list-article-vertical .time {
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  text-align: right;
}

.list-article-vertical .description {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: left;
}

.list-news {
  padding: 30px 0;
}

.list-news li {
  padding: 20px;
}

@media (max-width: 768px) {
  .list-news li {
    padding: 20px 20px 0;
  }
}

.list-news li a {
  display: block;
  overflow: hidden;
}

.list-news li .image {
  width: 80px;
  background: no-repeat center center #eee;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  float: left;
}

.list-news li .image:after {
  content: '';
  display: block;
  background: #fff;
  padding: 100% 0 0;
}

.list-news li .text {
  overflow: hidden;
  padding: 0 0 0 20px;
}

.list-news li .date {
  font-size: 14px;
  font-size: 1.4rem;
}

.list-news li .title {
  font-size: 26px;
  font-size: 2.6rem;
}

.list-news li .description {
  font-size: 14px;
  font-size: 1.4rem;
}

.list-news li .link {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  margin: 10px 0;
  padding: 2px 20px;
  border: 2px solid #222;
  border-radius: 50px;
}

.list-products {
  padding: 30px 0;
}

.list-products li {
  padding: 20px 0;
}

@media (max-width: 768px) {
  .list-products li {
    padding: 20px 20px 0;
  }
}

.list-products li a {
  display: block;
  overflow: hidden;
}

.list-products li .image {
  width: 400px;
  background: no-repeat center center #eee;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  float: left;
}

@media (max-width: 768px) {
  .list-products li .image {
    width: 100%;
    margin: 0 0 20px;
  }
}

.list-products li .image:after {
  content: '';
  display: block;
  padding: 100% 0 0;
}

.list-products li .text {
  overflow: hidden;
  padding: 0 0 0 40px;
}

@media (max-width: 768px) {
  .list-products li .text {
    padding: 0 0 0 10px;
  }
}

.list-products li .title {
  font-size: 36px;
  font-size: 3.6rem;
  margin-bottom: 16px;
}

.list-products li .subtitle {
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .list-products li .subtitle {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

.list-products li .description {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 16px;
}

/* 大人のピアノ教室内部の文字 */
.list-products li .point {
  font-size: 14px;
  font-size: 1.4rem;
  background: #fff;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 16px;
}

.list-products li .link {
  font-size: 18px;
  font-size: 1.8rem;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  background-color: #625548;
  margin: 10px 0;
  padding: 2px 20px;
}

.list-gallery li {
  padding: 0 10px 10px 0;
}

@media (max-width: 768px) {
  .list-gallery li {
    padding: 20px 20px 0;
  }
}

.list-gallery li a {
  display: block;
  overflow: hidden;
}

.list-gallery li .image {
  width: 100%;
  background: no-repeat center center #eee;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  float: left;
}

.list-gallery li .image:after {
  content: '';
  display: block;
  background: none;
  padding: 70% 0 0;
}

.list-text li {
  margin: .5em 0;
}

.list-text li i {
  vertical-align: middle;
}



/* ---------------------------------------------------
section
----------------------------------------------------*/
.section {
  overflow: hidden;
  padding: 60px 0;
  position: relative;
  z-index: 10;
}

.section .image {
  width: 200px;
  background: no-repeat center center #fff;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  float: left;
}

.section .image img {
  border-radius: 20px;
}

@media (max-width: 768px) {
  .section .image {
    width: 100%;
    margin: 0 0 20px;
    float: none;
  }
}

.section .image:after {
  content: '';
  display: block;
  background: #fff;
  padding: 60% 0 0;
}

.section .text {
  overflow: hidden;
  padding: 0 0 0 20px;
}

.section .title {
  font-size: 40px;
  font-size: 4rem;
  position: relative;
  z-index: 10;
}

@media (max-width: 768px) {
  .section .title {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

.section .subtitle {
  font-size: 30px;
  font-size: 3rem;
  position: relative;
  z-index: 10;
}

@media (max-width: 768px) {
  .section .subtitle {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

.section .description {
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
  z-index: 10;
  padding: 0 0 10px;
}

@media (max-width: 768px) {
  .section .description {
    padding: 0 20px 10px;
    text-align: left;
  }
}

.section .link {
  font-size: 20px;
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  margin: 20px 0;
  padding: 10px 40px;
  border: 2px solid #222;
  border-radius: 50px;
}

.section-image .overlay {
  min-height: 40vh;
  color: #FFF6F4;
  /*background: rgba(#fff, .5);*/
  padding: 40px;
}

@media (max-width: 768px) {
  .section-image .overlay {
    padding: 20px;
  }
}

.section-image .overlay .link {
  border-color: #fff;
}

.section-color {
  background: no-repeat;
  padding: 40px;
}

.section-split {
  padding: 0;
}

.section-split .split > div {
  padding: 40px;
}

@media (max-width: 768px) {
  .section-split .split > div {
    min-height: 50vh;
  }
}

.section-split .split .text {
  background: #fff;
}

.section-block {
  background: no-repeat;
  padding: 40px 0;
  position: relative;
  z-index: 10;
}

.section-block .overlay {
  padding: 0 20px;
}

.section-block .block {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 0 0 20px;
}

/* ---------------------------------------------------
original レッスン案内・教室案内
----------------------------------------------------*/
#inc {
  position: fixed;
  z-index: 10;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  zoom: 0.6;
}

#inc img {
  position: absolute;
  -webkit-animation: splash 5s linear infinite normal;
          animation: splash 5s linear infinite normal;
  opacity: 0;
}

@media (max-width: 768px) {
  #inc img {
    zoom: .5;
  }
}

#inc #inc-1 {
  top: -101px;
  left: -113px;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

#inc #inc-2 {
  top: -10px;
  left: -34px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#inc #inc-3 {
  top: 76px;
  right: -10px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#inc #inc-4 {
  top: -184px;
  right: -160px;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

@media (max-width: 768px) {
  #inc #inc-4 {
    right: -180px;
  }
}

#inc #inc-5 {
  bottom: -190px;
  left: -142px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@media (max-width: 768px) {
  #inc #inc-5 {
    bottom: -240px;
    left: -252px;
  }
}

#inc #inc-6 {
  width: 20%;
  bottom: -100px;
  left: 54px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@media (max-width: 768px) {
  #inc #inc-6 {
    bottom: -340px;
  }
}

#inc #inc-7 {
  bottom: -330px;
  right: -240px;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@media (max-width: 768px) {
  #inc #inc-7 {
    bottom: -460px;
    right: -320px;
  }
}

@-webkit-keyframes splash {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  3% {
    opacity: 1;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes splash {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  3% {
    opacity: 1;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.list-article-vertical li {
  margin-bottom: 20px;
}

.list-article-vertical .image img {
  width: 100%;
}

.list-article-vertical .title {
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  background: rgba(232, 60, 180, 0.5);
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.list-article-vertical time {
  background: rgba(255, 255, 255, 0.5);
  padding: 4px 10px;
  position: absolute;
  left: 0;
  top: 0;
}

.tabs li {
  vertical-align: bottom;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tabs li .tab {
  width: 70%;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 0 20px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tabs li.pitch .tab {
  background: #d79685;
  border-top: 10px solid #d79685;
  border-left: 10px solid #d79685;
  border-right: 10px solid #d79685;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tabs li.piano .tab {
  background: #d2a91b;
  border-top: 10px solid #d2a91b;
  border-left: 10px solid #d2a91b;
  border-right: 10px solid #d2a91b;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tabs li.sax .tab {
  background: #74aacd;
  border-top: 10px solid #74aacd;
  border-left: 10px solid #74aacd;
  border-right: 10px solid #74aacd;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tabs li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tabs li.active .tab {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media (max-width: 768px) {
  .tabs .split[data-length="3"] > li, .tabs .split[data-length="3"] > div {
    width: 33.33333%;
  }
}

#tab-contents .contents {
  display: none;
}

#tab-contents .contents.active {
  display: block;
}

#tab-contents .title {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#tab-contents .image {
  width: 90% !important;
}

#tab-contents .image:after {
  padding: 0;
}

@media (max-width: 768px) {
  #tab-contents .image {
    width: 100% !important;
  }
}

#tab-contents #tab-content-1.active {
  border: 10px solid #d79685;
}

#tab-contents #tab-content-1.active .title {
  border-bottom: 1px #d79685 dashed;
  color: #d79685;
}

#tab-contents #tab-content-2.active {
  border: 10px solid #d2a91b;
}

#tab-contents #tab-content-2.active .title {
  border-bottom: 1px #d2a91b dashed;
  color: #d2a91b;
}

#tab-contents #tab-content-3.active {
  border: 10px solid #74aacd;
}

#tab-contents #tab-content-3.active .title {
  border-bottom: 1px #74aacd dashed;
  color: #74aacd;
}

.piano .list-button .text {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 20px;
}

.piano .list-button .image:after {
  background: rgba(232, 60, 180, 0.5) !important;
  padding: 100% 0 0;
}

.piano .background-tblr {
  background: #FEECE2;
}

.list-news .image {
  background-color: #fff !important;
  background-size: 100% !important;
}

@media (max-width: 768px) {
  .company .list-products .title {
    font-size: 20px;
    font-size: 2rem;
  }
}

.background-tblr {
  background: #EFE9D5;
  border: 10px solid #e5d9ac;
  z-index: 20;
  overflow: hidden;
  position: relative;
  padding: 60px;
}

.background-tblr .shine {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  .background-tblr {
    padding: 60px 10px;
  }
}

.logo-title,
.logo-title-w {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  padding: 20px 70px 0;
  margin: 0 0 20px;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .logo-title,
  .logo-title-w {
    padding: 15px 0 5px 90px;
  }
}

.logo-title {
  background: url(../img/icon-title.png) bottom left no-repeat;
  background-size: 50px auto;
  color: #625548;
  border-bottom: 2px solid #625548;
}

.logo-title-w {
  background: url(../img/icon-title-w.png) bottom left no-repeat;
  background-size: 50px auto;
  color: #fff;
  border-bottom: 2px solid #fff;
}

#intro {
  padding: 40px 0;
}

#intro .description {
  font-size: 14px;
  font-size: 1.4rem;
}

#intro .image {
  width: 100%;
}

#intro .image:after {
  background: none;
}

#works .overlay {
  padding: 15vh 20px;
}

#works .title {
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
}

#works .link {
  color: #fff;
  display: block;
  padding: 10px 0;
  border: 0;
}

#interior-reform .overlay {
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 60px 40px;
}

@media (max-width: 768px) {
  #interior-reform .overlay {
    padding: 60px 20px;
  }
}

#interior-reform .overlay .link {
  border-color: #222;
}

#interior-reform .subtitle {
  margin: 0 0 20px;
}

#interior-reform .link {
  margin: 20px 10px;
}

#water-reform {
  padding: 40px 0;
  background: url(../img/water.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  #water-reform {
    background-attachment: initial;
  }
}

#water-reform .title {
  margin: 0;
}

#water-reform .image {
  width: 100%;
  float: none;
}

#water-reform .image:after {
  background: none;
}



/* ---------------------------------------------------
footer
----------------------------------------------------*/
footer {
  color: #625548;
  width: 100%;
  padding: 40px 20px;
  background: #EFE9D5;
}

footer h1 {
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 2px;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0 0 20px;
}

@media (max-width: 768px) {
  footer h1 {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

footer h1 img {
  width: 20%;
}

footer h2 {
  font-weight: lighter;
  margin: 0 0 30px;
}

footer .about {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 0;
  margin: 0 0 30px;
}

@media (max-width: 768px) {
  footer .about {
    padding: 0;
  }
}

footer .about > div {
  color: #222;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  font-size: 18px;
  font-size: 1.8rem;
  padding: 10px;
  border-right: 1px solid #666;
}

@media (max-width: 768px) {
  footer .about > div {
    font-size: 16px;
    font-size: 1.6rem;
    width: 100%;
    border-right: 0;
    padding: 10px;
    border-bottom: 1px solid #666;
  }
}

footer .about > div:last-child {
  border: 0;
}

footer .about .number {
  color: #FFF6F4;
  font-weight: bold;
}
footer .about .number img {
  width: 30px;
}

@media (max-width: 768px) {
  footer .about .number span {
    font-size: 20px;
    font-size: 2rem;
    display: block;
  }
}

footer nav {
  padding: 10px 0 30px;
}

footer nav li {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
}

footer nav li a {
  display: block;
  padding: 10px 20px;
}


/* ---------------------------------------------------
visual
----------------------------------------------------*/
#visual {
  position: relative;
}

#visual .image {
  background: url(pic/IMG_3841.png) top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 600px;
}

@media (max-width: 768px) {
  #visual .image {
    min-height: 100vh;
  }
}

/* これをすると、画像が点滅してしまう。 */
/* #visual .image:before {
  content: '';
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#a6d900), to(#ff4454));
  background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
  -webkit-animation: huerotator 3s infinite alternate;
          animation: huerotator 3s infinite alternate;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .2;
  z-index: 5;
} */
